
@{
    Layout = "_Layout";
}
<html>

    <head></head>

    <body>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <article class="post-grid mb-5">
            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                <img src="..//images/news/f6.jpg" alt="" class="img-fluid w-100">
            </a>
            <span style="color:red" class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Son Dakika</span>
            <h3 class="post-title mt-1"><a href="blog-single.html">Köprülere vergi</a></h3>
            <span class="text-muted letter-spacing text-uppercase font-sm">Temmuz 31, 2022</span>
        </article>
    </div>
    <div class="col-lg-4 col-md-4">
        <article class="post-grid mb-5">
            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                <img src="..//images/news/f7.jpg" alt="" class="img-fluid w-100">
            </a>
            <span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">music</span>
            <h3 class="post-title mt-1"><a href="blog-single.html">Portugal’s Sunset summer vission</a></h3>
            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
        </article>
    </div>
    <div class="col-lg-4 col-md-4">
        <article class="post-grid mb-5">
            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                <img src="..//images/news/f8.jpg" alt="" class="img-fluid w-100">
            </a>
            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">beauty</span>
            <h3 class="post-title mt-1"><a href="blog-single.html">The best soft Tropical Getaway</a></h3>
            <span class="text-muted letter-spacing text-uppercase font-sm">March 12, 2019</span>
        </article>
    </div>
</div>
</body>
</html>