<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage</title>
    <partial name="/Views/Shared/Partials/_PartialCssLinks.cshtml" />
    <partial name="/Views/Shared/Partials/_PartialNavigation.cshtml" />
</head>
<body>
    @RenderBody();
    <partial name="/Views/Shared/Partials/_PartialFooter.cshtml" />
    <partial name="/Views/Shared/Partials/_PartialJsLinks.cshtml" />
</body>
</html>
