<partial name="_SearchPartialView" />
<section class="section-padding">
    <h1 style="display: flex; justify-content: center; margin-bottom:55px; color:darkturquoise; font-family:'Cambria Math'"> Ana Sayfa 2</h1>
    @await Component.InvokeAsync("Article");
</section>